.calling-app {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(17.5px);
    padding-inline: 25px;
    padding-top: 100px;
}

.calling--prompt {
    text-align: center;
}

.calling--prompt .caller--picture {
    width: 70px;
    height: 70px;
    border-radius: 20rem;
    background-image: url(https://media.discordapp.net/attachments/862737146091929660/1095392456402542602/image.png?width=154&height=154);
    
    outline: 6px solid rgba(255, 255, 255, 0.25);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-inline: auto;

    margin-bottom: 24px;
}

.calling--prompt .caller--name {
    color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}
.calling--prompt .caller--phone--type {
    color: hsla(0, 0%, 100%, 0.85);
    font-family: 'SF Pro Display', sans-serif;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.call--action {
    position: absolute;

    width: 58px;
    height: 58px;
    border-radius: 155px;
    background-color: red;
    bottom: 105px;

    cursor: pointer;

    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
}
.call--action::after {
    content: attr(data-label);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;
    text-align: center;
    color: rgba(213, 213, 213, 0.85);

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.call--action > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
}

.answer--call {
    right: 52px;

    background: linear-gradient(140.75deg, rgba(255, 255, 255, 0.5) 1.25%, rgba(0, 0, 0, 0.345) 75.29%), linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(83, 223, 107, 0.45), rgba(83, 223, 107, 0.45)), rgba(48, 209, 88, 0.65);
    outline: 6px solid rgba(93, 222, 122, 0.15);
}
.decline--call {
    left: 52px;

    background: linear-gradient(140.75deg, rgba(255, 255, 255, 0.5) 1.25%, rgba(0, 0, 0, 0.345) 75.29%), linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(249, 63, 54, 0.45), rgba(249, 63, 54, 0.45)), rgba(249, 63, 54, 0.65);
    outline: 6px solid rgba(222, 93, 93, 0.15);
    border-radius: 155px;
}

.calling--options .call--details {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    color: #FFFFFF;
}

.calling--options .call--duration {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
}

.calling--options .decline--call {
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
}

.action--buttons {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 180px;
    width: 100%;

    row-gap: 44px;
    column-gap: 20px;

    justify-items: center;
    align-items: center;
}

.action--buttons .action--button {
    width: 60px;
    height: 60px;

    /* background: rgba(136, 136, 136, 0.2); */
    border-radius: 155px;
    position: relative;
    cursor: pointer;
    
    background: linear-gradient(140.75deg, rgba(255, 255, 255, 0.15) 1.25%, rgba(0, 0, 0, 0.1035) 75.29%), linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 255, 255, 0.1);

    transform: scale(1.05);
}

.action--buttons .action--button.active {
    background: #FFFFFF;
    outline: 4px solid rgba(255, 255, 255, 0.25);
}
.action--buttons .action--button.active .icon {
    filter: invert(1);
}

.action--buttons .action--button.disabled {
    cursor: auto;
    opacity: 0.5;
}

.action--buttons .action--button::after {
    content: attr(data-label);
    position: absolute;
    bottom: -24px;
    inset-inline: 0;
    text-align: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: rgba(213, 213, 213, 0.85);
}

.action--buttons .action--button .icon {
    width: 26px;
    height: 26px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dial--pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    position: absolute;
    
    top: 170px;
    left: 50%;

    transform: translateX(-50%);

    transform-origin: left;

    transition: all ease-in-out 150ms;
}

.dial--pad .dial--button {
    position: relative;
    width: 60px;
    height: 60px;

    background: linear-gradient(140.75deg, rgba(255, 255, 255, 0.15) 1.25%, rgba(0, 0, 0, 0.1035) 75.29%), linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 255, 255, 0.15);
    border-radius: 57px;
}
.dial--pad .dial--button object {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
.dial--pad .dial--button:not(.icon)::after {
    content: attr(data-dial);

    font-family: 'TT Norms Pro', sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    text-align: center;
    color: #FFF;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.action--buttons .action--button .icon.mute {
    background-image: url('../../custom_icons/mute_mic.svg');
}
.action--buttons .action--button .icon.keypad {
    background-image: url('../../custom_icons/keypad.svg');
}
.action--buttons .action--button .icon.audio {
    background-image: url('../../custom_icons/speakers.svg');
}
.action--buttons .action--button .icon.add_call {
    background-image: url('../../custom_icons/add_to_call.svg');
}
.action--buttons .action--button .icon.video {
    background-image: url('../../custom_icons/video.svg');
}
.action--buttons .action--button .icon.contacts {
    background-image: url('../../custom_icons/contacts.svg');
}