.photos-app {
    background-color: black;

    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    letter-spacing: .7px;
    white-space: nowrap;

    border-radius: 35px 35px 25px 25px;
}

.photos-app .photo-galery {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(200%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    transition: all .5s ease;
}

.photos-app .photo-galery {
    transform: translate(-50%, -50%);
}

/* .photos-app:not(.in-galery) .photo-galery {
    transition-delay: .3s;
} */

.photos-app .photo-galery h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -500%);

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.85);
    transition: all .3s ease;
}

.photos-app .photo-galery h1 {
    transform: translate(-50%, -50%);
    transition-delay: .5s;
}

.photos-app .photo-galery .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2px;
    overflow-y: scroll;
    z-index: -2;
    padding-bottom: 92px;
}

.photos-app .photo-galery .content::-webkit-scrollbar {
    display: none;
}

.photos-app .photo-galery .content img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s ease;
}

.photos-app .photo-galery .galery-actions {
    position: absolute;
    /* bottom: -300px; */
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 92px;
    background: linear-gradient(0deg, rgba(9, 117, 253, 0.05), rgba(9, 117, 253, 0.05)), rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(17.5px);
    border-radius: 22px;
    transition: all .3s;
}

.photos-app.in-galery .photo-galery .galery-actions {
    bottom: 0;
    transition-delay: .5s;
}

.photos-app .photo-galery .galery-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 34px;
    padding: 0 10px;
    border-radius: 10px;
    background: rgba(9, 117, 253, 0.2);
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    transition: all .2s ease;
    cursor: pointer;
}

.photos-app .photo-galery .galery-actions button:hover {
    background: rgba(9, 117, 253, 0.25);

}

.photos-app .photo-galery .galery-actions button.selected {
    background: #0975FD;
}

.photos-app .photo-galery .galery-actions button svg {
    fill: #0975FD;
}

.photos-app .photo-galery .galery-actions button.selected svg {
    fill: white;
}

.photos-app .photo-galery .galery-actions button p {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: rgba(9, 117, 253, 1);
}

.photos-app .photo-galery .galery-actions button.selected p {
    color: white;
}

.photos-app .photo-galery .photo-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    transition: all .3s ease;
}

.photos-app .photo-galery.in-slider .photo-slider {
    backdrop-filter: blur(5px);
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.8);
}

.photos-app .photo-galery:not(.in-slider) .photo-slider {
    transition-delay: .4s;
}

.photos-app .photo-galery .photo-slider .picture {
    position: relative;
    top: -800px;
    margin-top: 50px;
    height: 424px;
    width: 280px;
    transition: all .3s ease;
    transition-duration: .5s;
}

.photos-app .photo-galery.in-slider .photo-slider .picture {
    top: 0;
}

.photos-app .photo-galery .photo-slider .picture img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateX(0);
    transition: all .3s ease;
}

.photos-app .photo-galery .photo-slider .picture img.old {
    transform: translateX(-110%);
}

.photos-app .photo-galery .photo-slider .picture img.next {
    transform: translateX(110%);
}

.photos-app .photo-galery .photo-slider .picture .fav {
    position: absolute;
    left: 0;
    top: 0;
    margin: 13px;
    background-color: transparent;
    border: none;

}

.photos-app .photo-galery .photo-slider .picture .fav svg {
    cursor: pointer;
    transition: all .2s ease;
    stroke: rgba(9, 117, 253, 0.65);
    stroke-width: 2px;
}

.photos-app .photo-galery .photo-slider .picture .fav svg:hover {
    stroke: #0975FD;
}

.photos-app .photo-galery .photo-slider .picture .fav.active svg {
    fill: #0975FD;
}

.photos-app .photo-galery .photo-slider .picture .fav.active svg:hover {
    fill: rgba(9, 117, 253, 0.65);
    stroke: transparent;
}

.photos-app .photo-galery .photo-slider .picture .quit {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background-color: transparent;
    border: none;
    height: 28px;
    width: 28px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: -4px 4px 25px rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
    border-radius: 111px;
    cursor: pointer;
    transition: all .2s ease;
}

.photos-app .photo-galery .photo-slider .picture .quit:hover {
    background: rgba(255, 255, 255, 0.35);
}

.photos-app .photo-galery .photo-slider .picture .quit svg {
    fill: rgba(255, 255, 255, 0.65);
    transition: all .2s ease;
}

.photos-app .photo-galery .photo-slider .picture .quit:hover svg {
    fill: white;
}

.photos-app .photo-galery .photo-slider .info-actions {
    position: absolute;
    top: -800px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
}

.photos-app .photo-galery.in-slider .photo-slider .info-actions {
    top: 484px;
}

.photos-app .photo-galery .photo-slider .info-actions p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.85);
}

.photos-app .photo-galery .photo-slider .info-actions .photo-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.photos-app .photo-galery .photo-slider .info-actions .photo-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border: none;
    background: #FFFFFF;
    border-radius: 111px;
    cursor: pointer;
    transition: all .2s ease;
}

.photos-app .photo-galery .photo-slider .info-actions .photo-actions button.edit {
    padding-left: 2px;
}

.photos-app .photo-galery .photo-slider .info-actions .photo-actions button.delete {
    background: linear-gradient(0deg, #F93F36, #F93F36), #FFFFFF;
}

.photos-app .photo-galery .photo-slider .info-actions .photo-actions button.delete svg {
    fill: white;
}

.photos-app .photo-galery .photo-slider .info-actions .photo-actions button:hover {
    background: #DCDCDC;
}

.photos-app .photo-galery .photo-slider .info-actions .photo-actions button.delete:hover {
    background: linear-gradient(0deg, rgba(249, 63, 54, 0.85), rgba(249, 63, 54, 0.85)), #FFFFFF;
}

.photos-app .photo-galery .photo-slider .info-actions .photo-actions button svg {
    fill: #0975FD;
}

.photos-app .photo-galery .photo-slider .slider-buttons {
    position: absolute;
    top: 964px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .3s ease;
    transition-delay: .3s;
}

.photos-app .photo-galery.in-slider .photo-slider .slider-buttons {
    top: 564px;
}

.photos-app .photo-galery .photo-slider .slider-buttons .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.photos-app .photo-galery .photo-slider .slider-buttons .arrow svg {
    fill: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    transition: all .2s ease;
}

.photos-app .photo-galery .photo-slider .slider-buttons .arrow svg:hover {
    fill: white;
}

.photos-app .photo-galery .photo-slider .slider-buttons p {
    width: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.85);
}

.photos-app .photo-galery .photo-slider .slider-buttons p span {
    color: rgba(255, 255, 255, 0.65);
    margin-left: 4px;
}

.photos-app .shadow-gradient {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    transition: all .2s ease;
}

@keyframes rotateButton {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }

    100% {
        transform: translateY(-50%) rotate(180deg);
    }
}