::-webkit-scrollbar {
    display: none !important;
}

#main-container {
    width: 100%;
    height: auto;
}

/* Money */

#money-container {
    position: absolute;
    right: 2vw;
    top: 5vh;
    font-weight: 400;
    font-size: 40px;
}

#sign,
#bank {
    text-align: right;
    color: #00ac31;
}

#plus {
    text-align: right;
    color: #00ac31;
}

#minus {
    text-align: right;
    color: #ac0000;
}

#money {
    text-align: right;
    color: #ffffff;
}

/* Slide fade transition */
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s ease-in;
}

.slide-fade-enter-from {
    transform: translateX(20px);
    opacity: 0;
}

.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

/* Player HUD */

#playerHud {
    position: absolute;
    display: flex;
    left: 3vh;
    bottom: 0.2vw;
}

.q-ml-xl {
    margin-left: -22px !important; /* Change this to space radials */
}

.responsive {
    position: absolute !important;
}

@media (min-width: 800px) {
    .responsive {
        margin-left: 32vh !important;
        transform: scale(1, 1);
        bottom: 6.9vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
}

@media (width: 3840px) and (height: 2160px) {
    .responsive {
        margin-left: 32.8vh !important;
        transform: scale(1.3, 1.3);
        bottom: 7.6vh !important;
    }
    .q-ml-xl {
        font-size: 100px;
        margin-left: -45px !important; /* Change this to space radials */
    }
}

@media (width: 3440px) and (height: 1440px) {
    .responsive {
        margin-left: 33vh !important;
        transform: scale(1.3, 1.3);
        bottom: 7.6vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
}

@media (width: 2560px) and (height: 1440px) {
    .responsive {
        margin-left: 33.5vh !important;
        transform: scale(1.3, 1.3);
        bottom: 7.2vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
}

@media (width: 2560px) and (height: 1080px) {
}

@media (width: 1920px) and (height: 1440px) {
    .responsive {
        margin-left: 32vh !important;
        transform: scale(1.2, 1.2);
        bottom: 7.4vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
}

@media (width: 1920px) and (height: 1200px) {
    .responsive {
        margin-left: 31.5vh !important;
        transform: scale(1, 1);
        bottom: 6.4vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
}

@media (width: 1920px) and (height: 1080px) {
    .responsive {
        margin-left: 32vh !important;
        transform: scale(1, 1);
        bottom: 6.9vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
}

@media (width: 1280px) and (height: 720px) {
    .responsive {
        margin-left: 30vh !important;
        transform: scale(0.65, 0.65);
        bottom: 4.7vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
}

@media screen and (max-width: 4000px) {
    body {
        --scale: 1.5;
    }
}

@media screen and (max-width: 3000px) {
    body {
        --scale: 1.4;
    }
}

@media screen and (max-width: 2560px) {
    body {
        --scale: 1.3;
    }
}

@media screen and (max-width: 2100px) {
    body {
        --scale: 1.2;
    }
}

@media screen and (max-width: 2020px) {
    body {
        --scale: 1;
    }
}

@media screen and (max-width: 1520px) {
    body {
        --scale: 0.9;
    }
}

@media screen and (max-width: 1324px) {
    body {
        --scale: 0.87;
    }
}

@media screen and (max-width: 1124px) {
    body {
        --scale: 0.8;
    }
}

@media screen and (max-width: 1024px) {
    body {
        --scale: 0.7;
    }
}

@media screen and (max-width: 900px) {
    body {
        --scale: 0.6;
    }
}

@media screen and (max-width: 800px) {
    body {
        --scale: 0.5;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
