body {
    height: 100vh;
    position: absolute;
    inset: 0;
}

.camera-app {
    background-color: rebeccapurple;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.camera-app .top {
    height: 20vh;
    background-color: red;
    width: 100%;
    padding-top: 5vh;
}
.camera-app .bottom {
    height: 25vh;
    background-color: #000;
    width: 100%;
}

.camera-app .focal-length {
    bottom: 25%;
    
    transform: translateY(-25%);
    
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10vh;
    
    height: 5vh;

    justify-content: space-around;
    
    align-items: center;
    text-align: center;
    
    display: flex;
    
    padding-block: 0vh;
    position: absolute;
    left: 15vh;
    right: 15vh;
}

.camera-app .focal-length .focal--action.selected {
    font-size: 2vh;
    color: yellow;
    height: 90%;
}


.camera-app .focal-length .focal--action {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    
    aspect-ratio: 1;
    height: 80%;

    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.75vh;
}

.camera-app .recording--options {
    color: #fff;
    font-size: 2vh;
    display: flex;
    gap: 2vh;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 2vh;
}

.camera-app .recording--options .selected {
    color: yellow;
}

.camera-app .action-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2vh;
}

.camera-app .open--gallery {
    width: 7vh;
    height: 7vh;
    background-color: red;
}

.camera-app .flip--cam--button {
    width: 7vh;
    height: 7vh;

    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}
.camera-app .action-buttons {
    cursor: pointer;
}
.camera-app .flip--cam--button span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4.5vh;

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.camera-app .capture--button {
    width: 10vh;
    height: 10vh;
    background-color: #fff;
    border-radius: 100%;
    position: relative;
    z-index: 22;
    background: #fff;
}

.camera-app .capture--button::after {
    content: '';
    display: block;
    width: 9vh;
    height: 9vh;
    position: absolute;
    border: 4px solid #000;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    border-radius: 100%;

}